#navbar {
  overflow: hidden;
  background-color: var(--background-w);
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#navbar a {
  padding: 40px 14px 20px 14px;
  text-decoration: none;
}
