@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-o: #f0ae8e;
  --primary-g: #c7d9a7;
  --accent-b: #7dbbd2;
  --accent-y: #fff4e3;
  --accent-p: #facaca;
  --text: #083132;
  --background-w: #edeae5;
  --background-b: #f9f6e3;
}

.main {
  width: 100vw;
}

div.portfolio {
  background: #ffffff;
  position: relative;
  top: 100vh;
  z-index: 2;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* GREETING COMPONENT */
div.greeting {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-w);
  position: fixed;
  padding-bottom: 15vh;
}

.circle {
  height: 48px;
  width: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./assets/circle.svg");
}

img.hand {
  margin-bottom: 81px;
  padding: 0px;
  width: 8vh;
  animation: waving 2s linear infinite;
}

@keyframes waving {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

/*Smaller screen*/
@media (max-width: 800px) {
  a {
    font-size: 14px;
    font-weight: 500;
  }
  h1 {
    margin-top: 1em;
    font-size: 10vh !important;
  }
  img.hand {
    width: 10%;
  }
}

div.display {
  justify-content: center;
  display: flex;
  align-items: center;
}
img.piece {
  width: 70%;
  padding-bottom: 40px;
  transition: width 0.5s;
}

img.piece:hover {
  width: 75%;
  cursor: pointer;
}

span:hover {
  color: var(--accent-b);
}
span.highlight span:hover {
  transition: color 0.2s;
}
span.highlight:hover {
  color: var(--primary-o);
}
